.header {
    width: 100%;
    padding: 40px 0;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.texto {
    cursor: pointer;
    font-size: 1.7rem;
    letter-spacing: -0.11em;
  word-spacing: -0.11em; 
}

.body {
    display: flex;
}

.body .pokedex {
    min-width: 191px !important;
    max-width: 191px !important;
    width: 100%;
    background-color: #DD082F;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 352px;
    padding: 10px;
    border: 3px solid black;
    border-right: 7px solid black;
}

.body .pokedex .poke-header {
    display: flex;
}

.body .pokedex .circle {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 4px;
}

.body .pokedex .big-circle {
    width: 40px;
    height: 40px;
    position: relative;
}

.body .pokedex .min-circle {
    width: 5px;
    height: 5px;
    position: relative;
}

.body .pokedex .middle-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
}

.poke-body {
    border: 1px solid black;
    margin-top: 30px;
    background-color: #F1F2F2;
    width: 100%;
    min-height: 100px;
    border-radius: 5px;
    padding: 5px 10px;
}

.poke-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.poke-body .head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 4px;
}

.poke-body .img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 140px;
    background-color: #4fceeba4;
    background-image: linear-gradient(0deg, #a0e1f03f 20%, #ffffff 0%);
    background-size: 15px 8px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}

.poke-body .img img {
    width: 100%; 
    padding-top: 20px;
}

.poke-body .img p {
    font-weight: 700;
    font-size: 0.7rem;
    position: absolute;
}

.poke-body .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 7px;
}

.poke-body .foot .middle-circlee {
    height: 20px;
    width: 20px;
}

.poke-body .foot .arrows {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    display: flex;
}

.poke-footer {
    display: flex;
    margin-top: 4px;
}

.poke-footer .circle-big {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #58595B;
}

.poke-footer .center-labels {
    margin: 0 10px;
    position: relative;
    max-width: 69px;
    width: 100%;
    min-height: 60px;
}

.poke-footer .center-labels .label {
    position: absolute;
    width: 28px;
    height: 6px;
    border-radius: 7px;
    border: 1px solid black;
}

.poke-footer .center-labels .red-label {
    background-color: #EE1C24;
    left: 0;
    top: 6px;
}

.poke-footer .center-labels .blue-label {
    background-color: #00AEA4;
    top: 6px;
    right: 0;
}

.poke-footer .center-labels .square {
    background-color: #39B54A;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35px;
    border: 1px solid black;
}

/* CROSS */

.pokedex-cross {
    margin-top: 9px;
    width: 50px;
    height: 50px;
    position: relative;
    color: #3c3d3d;
    font-size: 0.7rem;
  }

  .pokedex-cross .icon:hover {
    color: #FFD43B;
    cursor: pointer;
    /* text-shadow: #FFD43B 3px 3px 10px; */
  }

  .pokedex-cross .icon-left {
    position: absolute;
    top: 54%;
    left: 2px;
    transform: translate(0, -50%);
    z-index: 5;
  }

  .pokedex-cross .icon-right {
    position: absolute;
    top: 54%;
    right: 2px;
    transform: translate(0, -50%);
    z-index: 5;
  }
  
  .cross-line {
    position: absolute;
    background-color: #58595B;
    border: 1px solid #3c3d3d;
  }
  
  .horizontal {
    width: 100%;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .vertical {
    width: 14px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .pokedex-cross .circle-square {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: #58595B;
    z-index: 2;
  }
  
  .pokedex-cross .circle-center {
    position: absolute;
    width: 11px;
    height: 11px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #3c3d3d;
    background-color: #58595B;
    z-index: 3;
  }

/* pokebola */
.pokeball {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
    cursor: pointer;
}

.top, .bottom {
width: 100%;
height: 50%;
position: absolute;
}

.top {
    top: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: red;
}
.bottom {
border-bottom-left-radius: 50%;
border-bottom-right-radius: 50%;
bottom: 0;
}
.middle {
width: 100%;
height: 2px;
background-color: black;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.center {
border-radius: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.point {
width: 4px;
height: 4px;
background-color: black;
z-index: 3;
}
.withe-circle {
width: 13px;
height: 13px;
background-color: white;
border: 2px solid black;
z-index: 2;
}
.pokedex-information {
    max-width: 191px;
    width: 100%;
}
.pokedex-information .header{
    padding: 0;
    margin-top: 18px;
    display: flex;
}
.pokedex-information .header .square {
    max-width: 110px;
    width: 100%;
    height: 60px;
    background-color: #DD082F;
}
.pokedex-information .header .triangule {
    max-width: 60px;
    width: 100%;
    height: 0px;
    border-top: 60px solid transparent;
    border-left: 60px solid #DD082F;
}
.pokedex-information .body {
    max-width: 191px;
    width: 100%;
    height: 274px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 5px;
    background-color: #DD082F;
}
.pokedex-information .body p {
    font-size: 0.6rem;
    margin: 0;
    color: #F1F2F2;
}
.pokedex-information .body p .label {
    padding: 2px 8px;
    margin: 0;
    border-radius: 10px;
    color: black;
}
.pokedex-information .body .little-table {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #DD082F;
    border-radius: 6px;
    background-color: #00AEA4;
}
.pokedex-information .body .little-table .column {
    font-size: 0.5rem;
    padding-left: 3px;
    color: #fdfdfdbb;
}
.pokedex-information .body .little-table .first-column {
    width: 83%;
    font-weight: 500;
}
.pokedex-information .body .little-table .second-column {
    width: 17%;
}